body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(7, 7, 7);
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.card {
  width: 100%;
  max-width: 700px;
  background: rgb(211, 91, 11);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
}

.stats {
  text-align: center;
  font-weight: bold;
}

.habit-form,
.filters {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input,
select,
button {
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input {
  flex: 1;
}

button {
  cursor: pointer;
  border: none;
  background: #222;
  color: white;
}

button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.habit-list {
  list-style: none;
  padding: 0;
}

.habit-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background: #7129ac;
  padding: 0.8rem;
  border-radius: 10px;
  margin-bottom: 0.7rem;
}

.habit-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.empty-message {
  text-align: center;
  color: gray;
}

.clear-btn {
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .habit-form,
  .filters,
  .habit-item {
    flex-direction: column;
    align-items: stretch;
  }
}